## POSTTEST02
## Rausyanfikr Adi Karmayoga 
## 2009106020

##### Import python package

In [11]:
import pandas as pd
import numpy as np

##### Ketentuan dataset:
    Atribut > 4
    Record > 1999
    Value berupa Objek & Angka

In [12]:
df = pd.read_csv("movies.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      2000 non-null   object
 1   rating    1982 non-null   object
 2   genre     2000 non-null   object
 3   year      2000 non-null   int64
 4   released  2000 non-null   object
 5   score     2000 non-null   float64
 6   votes     2000 non-null   int64
 7   director  2000 non-null   object
 8   writer    1999 non-null   object
 9   star      1999 non-null   object
 10  country   2000 non-null   object
 11  budget    1144 non-null   float64
 12  gross     1867 non-null   float64
 13  company   1990 non-null   object
 14  runtime   2000 non-null   int64
dtypes: float64(3), int64(3), object(9)
memory usage: 234.5+ KB

- Informasi yang didapatkan adalah <b>jumlah record</b>, <b>nama attribute</b>, jumlah <b>attribute</b> dengan tipe <b>objek</b>, jumlah <b>attribute</b> dengan tipe <b>angka</b>, jumlah <b>attribute</b> yang memiliki <b>nilai null</b>.

In [13]:
# Jumlah record
jmlRec = len(df)

# Nama atribut
listAttr = list(df.columns)

# Jumlah atribut bertipe Objek
jmlObj = len(df.dtypes[df.dtypes == 'object'])

# Jumlah atribut bertipe Angka
jmlNum = len(df.dtypes[df.dtypes == 'int64']) + len(df.dtypes[df.dtypes == 'float64'])

# Jumlah atribut yang terdapat nilai null
jmlNilaiNull = df.isna().any().sum()

- Masukkan informasi di atas dalam <b>dictionary</b> dengan <b>key sesuai nama informasinya</b>. Tampilkan isi dari dictionary tersebut sebagus mungkin.

In [14]:
myDict = {
    "jumlah_record": "Jumlah record: %d" %(jmlRec),
    "nama_atribut": "Nama atribut: %a" %listAttr,
    "atribut_objek": "Jumlah atribut bertipe objek: %d" %(jmlObj),
    "atribut_angka": "Jumlah atribut bertipe angka: %d" %(jmlNum),
    "atribut_nilai_null": "Jumlah atribut bernilai null: %d" %(jmlNilaiNull)
}

for dicts in myDict.values():
    print(dicts)

Jumlah record: 2000
Nama atribut: ['name', 'rating', 'genre', 'year', 'released', 'score', 'votes', 'director', 'writer', 'star', 'country', 'budget', 'gross', 'company', 'runtime']
Jumlah atribut bertipe objek: 9
Jumlah atribut bertipe angka: 6
Jumlah atribut bernilai null: 6

- Tampilkan <b>rata-rata</b>, <b>standar deviasi</b>, <b>nilai minimum</b>, <b>nilai maksimum</b>, <b>Q1</b>, <b>Q2</b>, dan <b>Q3</b> dari <b>attribute bertipe angka</b>.

In [15]:
desc = df.describe()
desc.rename(index = {"mean": "rata-rata", "std": "standar deviasi", "min": "nilai minimum", "max": "nilai maksimum", "25%": "Q1", "50%": "Q2", "75%": "Q3"})

,year,score,votes,budget,gross,runtime
count,2000.000000,2000.000000,2.000000e+03,1.144000e+03,1.867000e+03,2000.000000
rata-rata,1986.098000,6.247950,3.429564e+04,1.373013e+07,2.660151e+07,103.920000
standar deviasi,3.180952,0.980411,9.678406e+04,1.140242e+07,5.877410e+07,17.513879
nilai minimum,1980.000000,2.200000,5.100000e+01,3.000000e+03,2.270000e+03,55.000000
Q1,1984.000000,5.700000,2.500000e+03,6.000000e+06,2.437852e+06,93.000000
Q2,1986.000000,6.300000,7.300000e+03,1.100000e+07,9.056073e+06,101.000000
Q3,1989.000000,6.900000,2.600000e+04,1.862500e+07,2.501791e+07,111.000000
nilai maksimum,1991.000000,8.700000,1.300000e+06,1.020000e+08,7.929106e+08,357.000000

- Tampilkan nilai <b>korelasi</b> attribute bertipe angka

In [16]:
df.corr()

             year     score     votes    budget     gross   runtime
year     1.000000  0.032338  0.025733  0.225531  0.062815 -0.011066
score    0.032338  1.000000  0.386368  0.132755  0.263294  0.371525
votes    0.025733  0.386368  1.000000  0.281920  0.638306  0.206829
budget   0.225531  0.132755  0.281920  1.000000  0.395436  0.401319
gross    0.062815  0.263294  0.638306  0.395436  1.000000  0.171855
runtime -0.011066  0.371525  0.206829  0.401319  0.171855  1.000000

- <b>Rubah nilai</b> salah satu attribute bertipe angka menjadi <b>desimal 3 angka dibelakang koma</b> jika tidak ada, lakukan sebaliknya (dari desimal menjadi bilangan bulat).

In [17]:
df['gross']

0        46998772.0
1        58853106.0
2       538375067.0
3        83453539.0
4        39846344.0
           ...
1995     11128309.0
1996     11000863.0
1997       524668.0
1998      1345903.0
1999       418807.0
Name: gross, Length: 2000, dtype: float64

In [18]:
df.update(df['gross']*0.001)
df['gross']

0        46998.772
1        58853.106
2       538375.067
3        83453.539
4        39846.344
           ...
1995     11128.309
1996     11000.863
1997       524.668
1998      1345.903
1999       418.807
Name: gross, Length: 2000, dtype: float64

- Tampilkan <b>10 record pertama dari attribute bertipe angka</b>.

In [19]:
numDf = df.select_dtypes(include=['float64','int64'])

numDf.head(10)

   year  score    votes      budget       gross  runtime
0  1980    8.4   927000  19000000.0   46998.772      146
1  1980    5.8    65000   4500000.0   58853.106      104
2  1980    8.7  1200000  18000000.0  538375.067      124
3  1980    7.7   221000   3500000.0   83453.539       88
4  1980    7.3   108000   6000000.0   39846.344       98
5  1980    6.4   123000    550000.0   39754.601       95
6  1980    7.9   188000  27000000.0  115229.890      133
7  1980    8.2   330000  18000000.0   23402.427      129
8  1980    6.8   101000  54000000.0  108185.706      127
9  1980    7.0    10000  10000000.0   15795.189      100

- <b>Simpan dataset</b> dengan attribute bertipe angka ke dalam file <b>CSV</b>.

In [20]:
numDf.to_csv("movies - angka.csv", index=False)